.marquee {
  background: url(images/107981328.jpg) no-repeat center center fixed;
  min-height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-default .navbar-brand {
color: white;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 2px;
}

.navbar-brand:hover{
  color:black !important;
}

.navbar-default .navbar-nav>li>a {
color: white;
margin: 0 5px 0 5px;
font-size: 12px;
}

.loginsignup{
color: white;
font-weight: bold;
font-size: 12px;
}


.navigation{
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  border-color: transparent;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 42px;
  color: white;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

.herocontent-wrapper{
  padding-top: 50px;
}

.bucket-header{
  padding: 40px 0 40px 0;

}

.buckets-wrapper{
  padding: 20px 40px 100px 40px;
  margin: 0px 50px 0 50px;
}

.buckets-icon{
  padding: 30px 0 30px 0;
}

.buckets-caption{
  margin: 0 20px 0 20px;
}

.btn-link {
font-weight: bold;
color: #3399FF;
cursor: pointer;
border-radius: 0;
}

.btn-link:hover{
  text-decoration: none;
  color: #297ACC;
}

#btn-default-hero {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: black;
  border: none;
  border-radius: 0px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 30px;
}
