.marquee {
  background: url(images/107981328.jpg) no-repeat center center fixed;
  min-height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-default .navbar-brand {
color: white;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 2px;
}

.navbar-default .navbar-nav>li>a {
color: white;
margin: 0 10px 0 10px;
font-size: 12px;
}

.navigation{
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  border-color: transparent;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 42px;
  color: white;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}


.buckets-wrapper{
  padding: 100px 50px 100px 50px;
  margin-top: 60px;
}

