.marquee {
  background: url(images/107981328.jpg) no-repeat center center fixed;
  min-height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navigation{
  background-color: transparent;
  border-color: transparent;
}

p {
  text-align: center;
}

h3{
  text-align: center;
}

.buckets-wrapper{
  padding: 100px;
  margin-top: 60px;
}

